* {
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

body {
  position: absolute;
  inset: 0;
}

.hourly, .daily, .summary, header {
  display: flex;
}

.hourly, .daily {
  justify-content: space-between;
}

.days {
  display: flex;
}

header{
  justify-content: center;
}

.summary {
  justify-content: space-between;
}

.summary > * {
  padding: 20px;
}

.details > p {
  display: flex;
  justify-content: space-between;
}

footer {
  position: absolute;
  inset: auto 0 0 0;
}

.hourly-chart {
  flex: 1 0 0;
  display: flex;
  align-items: flex-end;
}

.hourly-chart > * {
  flex: 1 1 0;
}
